/*Estilos generales*/
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  background-color: #f8f8f8;
  cursor: url("Imagenes/D20MouseClaro.png"), auto;
  font-family: "Jacques Francoid", serif;
  font-size: larger;
  text-align: center;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #f8f8f8;
  padding: 10px 20px;
  color: #d4ba83;
  width: 100%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.header-title {
  display: inline-block;
  vertical-align: middle;
  color: #d4ba83;
  margin-left: 10px;
  font-size: 2em;
  line-height: 50px;
}

a {
  text-decoration: none;
}

.logo-container {
  float: inline-start;
  vertical-align: middle;
}

.logo-container a {
  text-decoration: none;
}

.logo {
  display: inline-block;
  vertical-align: middle;
  width: 70px;
  height: auto;
}

.mode {
  float: right;
  padding-top: 20px;
  padding-bottom: 15px;
  margin-right: 20px;
}

.user {
  float: right;
  padding-top: 20px;
  padding-bottom: 15px;
}

h1 {
  font-family: "Jacques Francois", serif;
  margin: 0;
  color: #f8f8f8;
}

main {
  background-color: #d4ba83;
  padding: 40px;
  margin: 10px auto;
  margin-top: 10px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.8);
  width: 90%;
}

a {
  color: #d4ba83;
}

/*Formulario Inventario*/

.div-form {
  background-color: #f8f8f8;
  color: #d4ba83;
  border-radius: 5px;
  margin: 0 auto;
  padding: 2%;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.div-form div {
  width: 100%;
  margin-bottom: 2%;
  text-align: center;
}

form {
  font-family: "Jacques Francois", serif;
  font-size: 1.3em;
  margin: 0;
  color: #d4ba83;
}

.inventario input,
.inventario select,
.inventario button {
  padding: auto 3%;
  margin-bottom: 3%;
  border: 1px solid #d4ba83;
  border-radius: 5px;
  background-color: #f8f8f8;
  color: #1f1f1f;
}

input,
select {
  width: 100%;
  padding: 2%;
  margin-top: 1%;
  margin-bottom: 2%;
  border: 1px solid #d4ba83;
  border-radius: 5px;
  color: #d4ba83;
  text-align: center;
  font-size: 90%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
}

button {
  padding: 1.5% 5%;
  margin: 1%;
  border: none;
  border-radius: 5px;
  background-color: #d4ba83;
  color: #f8f8f8;
  font-size: 90%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #b8935e;
}

.tabla-inventario {
  width: 100%;
  border-style: hidden;
  border: 5px solid #f8f8f8;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 5%;
}

td {
  border: 1px solid #d4ba83;
  background-color: #f8f8f8;
  padding: 20px;
}

thead {
  font-weight: bold;
  color: #d4ba83;
}

/* Modo Oscuro*/
body.dark-mode a .logo {
  content: url("Imagenes/D20Oscuro.svg");
}

body.dark-mode {
  cursor: url("Imagenes/D20MouseOscuro.png"), auto;
}

body.dark-mode {
  background-color: #1f1f1f;
  color: #a73533;
}

body.dark-mode header {
  background-color: #1f1f1f;
}

body.dark-mode .header-title {
  color: #a73533;
}
body.dark-mode .material-symbols-outlined {
  color: #a73533;
}
body.dark-mode h1 {
  color: #1f1f1f;
}

body.dark-mode main {
  background-color: #a73533;
}

body.dark-mode .div-form {
  background-color: #1f1f1f;
  color: #a73533;
}

body.dark-mode form {
  color: #a73533;
}

body.dark-mode .inventario input,
body.dark-mode .inventario select,
body.dark-mode .inventario button {
  border: 1px solid #a73533;
  background-color: #1f1f1f;
  color: #1f1f1f;
}

body.dark-mode input,
body.dark-mode select {
  border: 1px solid #a73533;
  background-color: #1c1c1c;
  color: #a73533;
}

body.dark-mode button {
  background-color: #a73533;
  color: #1f1f1f;
}

body.dark-mode button:hover {
  background-color: #96302e;
}

body.dark-mode .tabla-inventario {
  border: 5px solid #1f1f1f;
}

body.dark-mode td {
  border: 1px solid #a73533;
  background-color: #1f1f1f;
}

body.dark-mode thead {
  color: #a73533;
}
